.parallax
{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    min-height: 100vh; 
    background-attachment: fixed; 
    background-image: url("https://codesandbox.io/api/v1/sandboxes/rv9hp/fs/src/bg.svg"); 
    background-repeat: no-repeat; 
    background-position: center;
}
.title
{
    background-color: rgb(0, 255, 255,0.6) !important;
    height: 15rem;
    width: 43rem;
    font-size: 1.5rem !important;
    box-shadow: 0px 0px 10px 5px;
    text-align: center;
    padding: 2rem 2rem !important;
}
a
{
    color: black;
    text-decoration: underline;
}
h1
{
    font-size: 3.8rem !important;
}
.mainBox
{
    display: flex;
    align-items: center;    
    flex-direction: column;
    min-height: 120vh;   
}
.container
{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 255, 255,0.6) !important;
    height: 100vh;
    width: 43rem;
    font-size: 1.5rem !important;
    box-shadow: 0px 0px 10px 5px;
    
}
.message
{
    margin-top: 23px !important;
    width: 33rem !important;
    padding: 15px !important;
    box-shadow: 0px 0px 10px 5px;
}
.label {
    padding: 1rem 0rem 0.5rem;
    display: block;
    font-size: 1.5rem !important;
    font-weight: bold !important;
}
.checkBtn
{
    display: block;
    margin: 1rem auto;
    border: none;
    padding: 0.5rem 1rem;
    border: 2px solid black;
    border-radius: 1.1rem;
    background-color: black;
    color: white;
    font-weight: bold;
    cursor: pointer;
}
ul {
    list-style: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-inline-start: 0px;
    margin-block-start: 0;
    margin-block-end: 0;
}
.links
{
    margin-top: 20px;
}
.footerLink a
{
    text-decoration: none;
}
.legacyText
{
    text-align: center;
}
.footer 
{
    width: 43rem;
    background-color: rgb(0, 255, 255,0.6) !important;
}
